.header{
    background-color: rgb(154, 92, 92);
}
.navlinks{
    display: flex;
    gap: 20px;
    justify-content: center;
}
a{
    color: antiquewhite;
    text-decoration: none;
    transition: 0.3s;
}

body{
    background-image: url(assets/images/wood\ background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    font-display: block;
    color: rgb(245, 242, 101);
    text-align: center;
    text-decoration:underline;
}

h2{
    color: yellow;
    font-style: italic;
    text-align: center;
    t
}
h3{
    text-align:left;
    color: yellow;
    text-decoration: underline;
}

.store-layout{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.products-section{
    flex: 1;
}
.product-card{
    background: rgb(154, 92, 92);
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s ease;
}

.product-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px black;
}
.product-card img{
width:100% ;
object-fit: cover;
cursor: pointer;
height: 200px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: center;
}

.side-cart{
display: flex;
background-color: burlywood;
width: 250px;
padding: 15px;
border-radius: 10px;

position: sticky;
top: 20px;

align-self: flex-start;

}

.cart-sidebar{
    width: 100%;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
    font-style: italic;
    font-size: larger;
}

.filters{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px ;
}

select{
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: blanchedalmond;
}

@media (max-width:768px) {
    .store-layout{
        flex-direction: column;
    }
    
    .product-grid{
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .side-cart{
        width: 100%;
    }

    .navlinks{
        flex-direction: column;
        align-items: center;
    }
}