body{
    background-image: url(assets/images/wood\ background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.product{
    width: 200px;
    height: 200px;
}
.product-card img{
    width:100%
}
